@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Hanson Bold';
    src: url('./fonts/HansonBold.eot');
    src: url('./fonts/HansonBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/HansonBold.woff2') format('woff2'),
        url('./fonts/HansonBold.woff') format('woff'),
        url('./fonts/HansonBold.ttf') format('truetype'),
        url('./fonts/HansonBold.svg#HansonBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

