**/node_modules
**/yarn-error.log
**/.DS_Store
**/.idea
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production
server/.venv*
**/__pycache__
**/build
**/.ipynb_checkpoints
server/prod