.container {
    display: inline-block;
    animation: 2s linear 0s infinite normal none running animation-61bdi0;
}

@keyframes animation-61bdi0 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.circle {
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0;
    animation: animation-1p2h4ri 1.4s ease-in-out infinite;
}

@keyframes animation-1p2h4ri {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }

    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px;
    }
}