@tailwind components;

@layer components {
    .ripple {
        @apply bg-state-layers-primary absolute rounded-full w-full scale-100 origin-center;
        aspect-ratio: 1 / 1;
        transform: translate(-50%, -50%) scale(0);
        animation: ripple 0.6s cubic-bezier(0.2, 0.0, 0, 1.0) forwards;
    }

    .container {
        transition: all 0.6s cubic-bezier(0.2, 0.0, 0, 1.0);
    }
}

@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0.2;
    }
}

.icon {
    margin-right: 0.66rem;
    aspect-ratio: 1 / 1;
    font-size: clamp(1rem, 3vh, 2rem);
}