@tailwind components;

@layer components {
    .ripple {
        @apply bg-on-surface absolute rounded-full w-full blur-sm scale-100 origin-center;
        aspect-ratio: 1 / 1;
        transform: translate(-50%, -50%) scale(0);
    }

    .animation-ripple {
        animation: ripple 0.6s cubic-bezier(0.2, 0.0, 0, 1.0) infinite;
    }
}

@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.1;
    }

    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}