
* {
    z-index: 1;
}

.blob {
    z-index: -10;
}

.shadow {
    text-shadow: 0px 79px 57px rgba(64, 0, 19, 0.07), 0px 17.6457px 12.7317px rgba(64, 0, 19, 0.0478125), 0px 5.25358px 3.79056px rgba(64, 0, 19, 0.041996);
}